<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=0"/>

<title>手机绑定</title>
<link href="__PUBLIC__/style/style.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/jquery.min.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script> 
    {include file="public/unshare" /}
    <style type="text/css">
        input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none;}
    </style>
</head>

<body>
<div id="bangding">
<div class="bangding_top_back"><!-- <a href="../index.html"><img src="../image/back_icon.png"></a> -->  <b style="color:#FFF"></b></div>
<div class="bd_login">
<ul>
<li><input type="text" placeholder="输入手机号" id="mobile" class="login_1"></li>
<li><input type="text" placeholder="输入验证码" id="codes" class="login_2"><a id="code">获取验证码</a></li>
<li><input name="" type="radio" value="" class="login_3">我已阅读并同意《用户协议及隐私政策》</li>
</ul>
<div class="button_main"><input name="" type="submit" class="login_button submit" value="提交绑定" style="border-radius:50px;"></div>
</div>
</div>
</body>
<script type="text/javascript">
        var iTime = 59;
    var call = 0;
var Account;
var is_see = false;
var mobile;
var getcode = true;
function RemainTime(){
var iSecond,sSecond="",sTime="";
if (iTime >= 0){
    iSecond = parseInt(iTime%60);
    iMinute = parseInt(iTime/60)
    if (iSecond >= 0){
        if(iMinute>0){
            sSecond = iMinute + "分" + iSecond + "秒";
        }else{
            sSecond = iSecond + "s";
        }
    }
    sTime=sSecond;
    if(iTime==0){
        clearTimeout(Account);
        sTime='获取验证码';
        iTime = 59;
        $('#code').attr('data-color','1');
        $('#code').css('color','#4769F4');
        getcode = true;
        // $('#getcode').disabled = false;
    }else{
        Account = setTimeout("RemainTime()",1000);
        $('#code').css('color','#aaa');
        iTime=iTime-1;
    }
}else{
    sTime='没有倒计时';
}
$('#code').html(sTime);
}
$
$('#code').click(function(){
    
    if(iTime<59){
        layer.msg('请勿重复提交');
        return false;
    }else{
         mobile = $('#mobile').val();
         var pattern = /^1[3456789]\d{9}$/; 

        if(pattern.test(mobile)==false){
            layer.msg('输入正确的手机号');
            return false;
        }
    if(getcode!==true){
        return false;
    }
    getcode=false;
       
        $.ajax({
            url:'__APP__/test/user/checkmobile',
            type:'post',
            dataType:'json',
            data:{
                mobile:mobile
            },
            success:function(t){
                if(t.code==0){
                        $.ajax({
                            url:'/sms/smsyzm.php',
                            type:'post',
                            dataType:'json',
                            data:{
                                mobile:mobile,
                                tempid:'464457'
                            },
                            complete:function(res){
                                layer.msg('发送成功');
                                RemainTime();
                            }
                        })
                }else{
                    layer.msg(t.msg,{shift:-1},function(){
                        $('#mobile').focus();
                    })
                }
            }
        })
               
            
    
    }
    
})

$('.submit').click(function(){
    var mobiles = $('#mobile').val();
    var code = $('#codes').val();
    if(mobiles!=mobile){
        layer.msg('电话号码已改变，请重新获取验证码');
        return false;
    }
    if(code==''){
        layer.msg('请输入验证码');
        return false;
    }
    var load = layer.load(3);
    $.ajax({
        url:'__APP__/test/user/addmobile',
        type:'post',
        dataType:'json',
        data:{
            mobile:mobile,
            code:code
        },
        success:function(res){
            layer.close(load);
            if(res.code==0){
                layer.msg(res.msg,{shift:-1},function(){
                    window.location.href='__APP__/test/user';
                })
            }else{
                layer.msg(res.msg);
            }
        }
    })
})
</script>
</html>