<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"  />
<title>BUNCLE商城</title>
<link href="/shop/css/market.css" type="text/css" rel="stylesheet">
<script src="/shop/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="/shop/js/jquery.mobile-1.2.1.min.js"></script>

<script src="/shop/js/market.js" type="text/javascript"></script>
</head>

<body>
    <!--动态添加banner图-->
    <h2>商城</h2>
    <div id="banner" class="banner">
        <ul>
        {volist name="banner" id="item"}
            <li><a href="{$item['url']}"><img src="/public/uploads/{$item['img']}"></a></li>
        {/volist}
        </ul>
        <ol></ol>
    </div>
    <!--限时兑换专区-->
    <div id="lim_time">
        <div class="lim_img"></div>
        <div class="countdown">
            <span>本期剩余时间：</span>
            <div class="time_down">
                <div class="shi">11</div>
                <div class="pun_tion">:</div>
                <div class="fen">00</div>
                <div class="pun_tion">:</div>
                <div class="miao">00</div>
            </div>
        </div>
        <div class="details">
            <i style="background: url(/public/uploads/{$exchange['thumb']}) center no-repeat;background-size: 100% auto;"></i>
            <div class="txt_center">
                <h3>UNCLE兑换{$exchange['title']}</h3>
                <div class="ber_bg"></div>
                <div class="ber_solid" style="width:{$exchange['sold']/$exchange['count']*3.7}rem;"></div>
                <span>总量{$exchange['count']}EOS个兑完即止</span>
            </div>
            <a href="__APP__/shop/exchange/detail" class="btn_go"></a>
        </div>
    </div>
    <!--精选好物-->
    <div class="box_thing">
        <h3></h3>
        <a href="detail_shiwu.html" class="shangpin"><img src="/shop/img/market/img_shangpin.jpg"></a>
        <a href="" class="thing_fuli"><img src="/shop/img/market/img_fuli.jpg"></a>
        <a href="" class="thing_fuli"><img src="/shop/img/market/img_zhuli.jpg"></a>
    </div>
    <div style="clear: both"></div>
    <!--虚拟产品-->
    <div class="box_xuni">
        <h4><img  src="/shop/img/market/title_xuni.png"><i></i></h4>
        {volist name="xuni" id="item"}
        <a href="__APP__/shop/goods/xuni?id={$item['id']}" class="shangpin"><img src="__PUBLIC__/uploads/{$item['thumb']}"></a>
        {/volist}
    </div>
    <div style="clear: both"></div>
    <!--实物产品-->
    <div class="box_xuni">
        <h4><img  src="/shop/img/market/title_shiwu.png"><i></i></h4>
        {volist name="shiwu" id="item"}
        <a href="__APP__/shop/goods/shiwu?id={$item['id']}" class="shangpin"><img src="__PUBLIC__/uploads/{$item['thumb']}"></a>
        {/volist}
    </div>
</body>
</html>
