{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/index/index/news.css">
<div class="main">
	{volist name="list" id="item"}
	<div class="list">
		<span class="time">
			{$item['time']}
		</span>
		<div class="title">
			{$item['title']}
		</div>
		<div class="content">
			{$item['content']}
		</div>
		<div class="bottom">
			<div class="bottom-left">
				<div class="dianzan">
					<img src="__PUBLIC__/static/images/dianzan.png">
					<span>0</span>
				</div>
				<div class="dianzan">
					<img src="__PUBLIC__/static/images/diancai.png">
					<span>0</span>
				</div>
			</div>
			<div class="bottom-right">
				<img src="__PUBLIC__/static/images/fenxiang.png">
				<span>分享</span>
			</div>
		</div>
	</div>
	{/volist}
	
</div>
</body>
</html>