{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/index/index/news.css">
<div class="main">
	<div class="list">
		<span class="time">
			8-13 17:08
		</span>
		<div class="title">
			Primitive Ventures创始合伙人万卉：千万不要加币安Telegram的群，那是钓鱼真实币安用户的电话号码
		</div>
		<div class="content">
			Primitive Ventures创始合伙人万卉（Dovey Wan)称：大家务必消息，千万不要加Telegram的群，那是钓鱼真实币安用户的电话号码，利用你的恐慌心理。有几个朋友也是被这样的群给害了，所以你们...
		</div>
		<div class="bottom">
			<div class="bottom-left">
				<div class="dianzan">
					<img src="__PUBLIC__/static/images/dianzan.png">
					<span>0</span>
				</div>
				<div class="dianzan">
					<img src="__PUBLIC__/static/images/diancai.png">
					<span>0</span>
				</div>
			</div>
			<div class="bottom-right">
				<img src="__PUBLIC__/static/images/fenxiang.png">
				<span>分享</span>
			</div>
		</div>
	</div>
	<div class="list">
		<span class="time">
			8-13 17:08
		</span>
		<div class="title">
			Primitive Ventures创始合伙人万卉：千万不要加币安Telegram的群，那是钓鱼真实币安用户的电话号码
		</div>
		<div class="content">
			Primitive Ventures创始合伙人万卉（Dovey Wan)称：大家务必消息，千万不要加Telegram的群，那是钓鱼真实币安用户的电话号码，利用你的恐慌心理。有几个朋友也是被这样的群给害了，所以你们...
		</div>
		<div class="bottom">
			<div class="bottom-left">
				<div class="dianzan">
					<img src="__PUBLIC__/static/images/dianzan.png">
					<span>0</span>
				</div>
				<div class="dianzan">
					<img src="__PUBLIC__/static/images/diancai.png">
					<span>0</span>
				</div>
			</div>
			<div class="bottom-right">
				<img src="__PUBLIC__/static/images/fenxiang.png">
				<span>分享</span>
			</div>
		</div>
	</div>
	<div class="list">
		<span class="time">
			8-13 17:08
		</span>
		<div class="title">
			Primitive Ventures创始合伙人万卉：千万不要加币安Telegram的群，那是钓鱼真实币安用户的电话号码
		</div>
		<div class="content">
			Primitive Ventures创始合伙人万卉（Dovey Wan)称：大家务必消息，千万不要加Telegram的群，那是钓鱼真实币安用户的电话号码，利用你的恐慌心理。有几个朋友也是被这样的群给害了，所以你们...
		</div>
		<div class="bottom">
			<div class="bottom-left">
				<div class="dianzan">
					<img src="__PUBLIC__/static/images/dianzan.png">
					<span>0</span>
				</div>
				<div class="dianzan">
					<img src="__PUBLIC__/static/images/diancai.png">
					<span>0</span>
				</div>
			</div>
			<div class="bottom-right">
				<img src="__PUBLIC__/static/images/fenxiang.png">
				<span>分享</span>
			</div>
		</div>
	</div>
	<div class="list">
		<span class="time">
			8-13 17:08
		</span>
		<div class="title">
			Primitive Ventures创始合伙人万卉：千万不要加币安Telegram的群，那是钓鱼真实币安用户的电话号码
		</div>
		<div class="content">
			Primitive Ventures创始合伙人万卉（Dovey Wan)称：大家务必消息，千万不要加Telegram的群，那是钓鱼真实币安用户的电话号码，利用你的恐慌心理。有几个朋友也是被这样的群给害了，所以你们...
		</div>
		<div class="bottom">
			<div class="bottom-left">
				<div class="dianzan">
					<img src="__PUBLIC__/static/images/dianzan.png">
					<span>0</span>
				</div>
				<div class="dianzan">
					<img src="__PUBLIC__/static/images/diancai.png">
					<span>0</span>
				</div>
			</div>
			<div class="bottom-right">
				<img src="__PUBLIC__/static/images/fenxiang.png">
				<span>分享</span>
			</div>
		</div>
	</div>
	<div class="list">
		<span class="time">
			8-13 17:08
		</span>
		<div class="title">
			Primitive Ventures创始合伙人万卉：千万不要加币安Telegram的群，那是钓鱼真实币安用户的电话号码
		</div>
		<div class="content">
			Primitive Ventures创始合伙人万卉（Dovey Wan)称：大家务必消息，千万不要加Telegram的群，那是钓鱼真实币安用户的电话号码，利用你的恐慌心理。有几个朋友也是被这样的群给害了，所以你们...
		</div>
		<div class="bottom">
			<div class="bottom-left">
				<div class="dianzan">
					<img src="__PUBLIC__/static/images/dianzan.png">
					<span>0</span>
				</div>
				<div class="dianzan">
					<img src="__PUBLIC__/static/images/diancai.png">
					<span>0</span>
				</div>
			</div>
			<div class="bottom-right">
				<img src="__PUBLIC__/static/images/fenxiang.png">
				<span>分享</span>
			</div>
		</div>
	</div>
	<div class="list">
		<span class="time">
			8-13 17:08
		</span>
		<div class="title">
			Primitive Ventures创始合伙人万卉：千万不要加币安Telegram的群，那是钓鱼真实币安用户的电话号码
		</div>
		<div class="content">
			Primitive Ventures创始合伙人万卉（Dovey Wan)称：大家务必消息，千万不要加Telegram的群，那是钓鱼真实币安用户的电话号码，利用你的恐慌心理。有几个朋友也是被这样的群给害了，所以你们...
		</div>
		<div class="bottom">
			<div class="bottom-left">
				<div class="dianzan">
					<img src="__PUBLIC__/static/images/dianzan.png">
					<span>0</span>
				</div>
				<div class="dianzan">
					<img src="__PUBLIC__/static/images/diancai.png">
					<span>0</span>
				</div>
			</div>
			<div class="bottom-right">
				<img src="__PUBLIC__/static/images/fenxiang.png">
				<span>分享</span>
			</div>
		</div>
	</div>
</div>