{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/css/index/index/index.css">
<div class="main">
	<div class="list">
		<div class="list-left">
			<img src="__PUBLIC__/static/huobi.png">
		</div>
		<div class="list-right">
		<div class="right-bottom">
				<div class="bottom-title">
					雷顿
				</div>
				<div class="bottom-time">
					08-13 15:42
				</div>
			</div>
			<div class="right-title">
				LOEX国际站关于隐藏BSD交易对公告
			</div>
			
		</div>
	</div>
	<div class="list">
		<div class="list-left">
			<img src="__PUBLIC__/static/huobi.png">
		</div>
		<div class="list-right">
		<div class="right-bottom">
				<div class="bottom-title">
					雷顿
				</div>
				<div class="bottom-time">
					08-13 15:42
				</div>
			</div>
			<div class="right-title">
				LOEX国际站关于隐藏BSD交易对公告
			</div>
			
		</div>
	</div>
	<div class="list">
		<div class="list-left">
			<img src="__PUBLIC__/static/huobi.png">
		</div>
		<div class="list-right">
		<div class="right-bottom">
				<div class="bottom-title">
					雷顿
				</div>
				<div class="bottom-time">
					08-13 15:42
				</div>
			</div>
			<div class="right-title">
				LOEX国际站关于隐藏BSD交易对公告
			</div>
			
		</div>
	</div>
	<div class="list">
		<div class="list-left">
			<img src="__PUBLIC__/static/huobi.png">
		</div>
		<div class="list-right">
		<div class="right-bottom">
				<div class="bottom-title">
					雷顿
				</div>
				<div class="bottom-time">
					08-13 15:42
				</div>
			</div>
			<div class="right-title">
				LOEX国际站关于隐藏BSD交易对公告
			</div>
			
		</div>
	</div>
	<div class="list">
		<div class="list-left">
			<img src="__PUBLIC__/static/huobi.png">
		</div>
		<div class="list-right">
		<div class="right-bottom">
				<div class="bottom-title">
					雷顿
				</div>
				<div class="bottom-time">
					08-13 15:42
				</div>
			</div>
			<div class="right-title">
				LOEX国际站关于隐藏BSD交易对公告
			</div>
			
		</div>
	</div>
</div>
</body>
</html>