<style type="text/css">
	.footer{
		position: fixed;
		bottom: 0;
		left: 0;
		height: 60px;
		background: #fff;
		z-index: 999;
		width: 100%;
		border-top: 1px solid #ddd;
	}
	.footer-flex{
		float: left;
		width: 50%;
		text-align: center;
		font-size: 16px;
	}
	.footer-flex img{
		height: 20px;
		margin-top: 5px;
	}
	.footer-active{
		color: #801DAE;
	}
</style>
<div class="footer">

	<div class="footer-flex <?php if(in_array(request()->controller(),array('Index','App'))){echo 'footer-active';}?>" onclick="window.location.href='__APP__/index/app'">
		<img src="<?php if(in_array(request()->controller(),array('Index','App'))){echo '__PUBLIC__/static/images/home-active.png';}else{
		echo '__PUBLIC__/static/images/home.png';}?>">
		<div>首页</div>
	</div>
	<div class="footer-flex {:request()->controller()=='User' ? 'footer-active' : ''}" onclick="window.location.href='__APP__/index/user'">
		<img src="{:request()->controller()=='User' ? '__PUBLIC__/static/images/personal.png' : '__PUBLIC__/static/images/pers.png'}">
		<div>个人中心</div>
	</div>
</div>