<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>手机绑定</title>
<link href="../style/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="bangding">
<div class="bangding_top_back"><a href="../index.html"><img src="../image/back_icon.png"></a>  <b style="color:#FFF">绑定手机</b></div>
<div class="bd_login">
<ul>
<li><input type="text" value="输入手机号" class="login_1"></li>
<li><input type="text" value="输入验证码" class="login_2"><a>获取验证码</a></li>
<li><input name="" type="radio" value="" class="login_3">我已阅读并同意《用户协议及隐私政策》</li>
</ul>
<div class="button_main"><input name="" type="submit" class="login_button" value="提交绑定"></div>
</div>
</div>
</body>
</html>
