<!DOCTYPE>
<html>
<head>
<meta name="viewport"content="user-scalable=0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bunde2.0</title>
<link href="../style/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<!--top-->
<div id="max_top">
<div class="main_top">
  <div class="top_back"><!--<a href="../index.html"><img src="../image/back_icon.png"></a>--></div><!-- <b>APP名称不用可以不填数据</b> --></div>
</div>
<!--content_title-->
<div id="max_content_title">
<div class="app_logo"><img src="../del_/del_03.png"></div>
<div class="logo_title">
<ul>
<li><b>抹茶</b></li>
<li><span>全球领先的数字资产交易所</span></li>
<li><a class="button_style">苹果</a><a class="button_style">安卓</a></li>
</ul>
</div>
</div>

<!--APP简介-->
<div id="max_jianjie">
<b>简介</b>
<span>MXC交易所是由华尔街以及日本欧洲资深量化交易团队联合区块链资深从业者通过去中心化自组织形式创立的一个专注于区块链资产交流和交</span>
</div>

<!--信息-->
<div id="max_xinxi">
<b>信息</b>
<ul>
<li><b>开发商</b><span>MXC  Exchange</span></li>
<li><b>大小</b><span>26.4M</span></li>
<li><b>类别</b><span>交易所</span></li>
<li><b>语言</b><span>简体中文和英文</span></li>
<li><b>官网</b><span><a href="http://www.163.com">https://www.mxc.com/</a></span></li>
</ul>
</div>
<!--免责申明-->
<div id="shenming"><b>免责声明：</b> 
<span>本平台仅为开发商提供APP的下载安装，APP内的内容和运营相关 事项由APP开发商负责，与本平台无关。</span></div>

<!--应用下载列表-->
<div id="list_style">
  <div class="list_title"><b>您可能还喜欢</b><a>查看更多</a></div>
  <ul>
    <li>
      <div class="app_icon"><img src="../del_/app_icon.png"></div>
      <div class="app_content">
        <div class="app_txt"> <b>币市</b> <span>全球第一会员制交易所</span> </div>
        <div class="app_download">下载</div>
      </div>
    </li>
    <li>
      <div class="app_icon"><img src="../del_/ICON5.png"></div>
      <div class="app_content">
        <div class="app_txt"> <b>币市</b> <span>全球第一会员制交易所</span> </div>
        <div class="app_download">下载</div>
      </div>
    </li>
  </ul>
</div>
</body>
</html>