<!DOCTYPE >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>信息提交页面</title>
<link href="../style/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="max_forme">
<div class="forme_back"><b><img src="../image/back_icon.png" width="56" height="56"></b><span>提交应用</span></div>
<div id="forme_neirong">
<div class="forme_list">
<ul>
<li><b>APP名称</b><span>*</span><input name="" type="text" class="forme_input"></li>
<li><b>产品slogan</b><span>*</span><p>(12字以内)</p><input name="" type="text" class="forme_input"></li>
<li><b>简介</b><span>*</span><input name="" type="text" class="forme_input"></li>
<li><b>应用类别</b><span>*</span><select name="" class="forme_input">
  <option>请选择</option>
  <option>交易所</option>
  <option>钱包</option>
  <option>咨询媒体</option>
</select></li>
<li><b>官网</b><span>*</span><input name="" type="text" class="forme_input"></li>
<li><b>安卓下载链接</b><span>*</span><input name="" type="text" class="forme_input"></li>
<li><b>IOS下载链接</b> <input name="" type="text" class="forme_input"></li>
<li style="border:0;"><div class="forme_img">上传logo<span>*</span></div><div class="forme_img_gz">统一正方形LOGO大小建议 大于500*500等倍大小</div></li>
<li style="border:0;"><div class="forme_img">上传BANNER</div><div class="forme_img_gz">应用详情页BANNER统一大 小建议1125*610</div></li>
<li style="padding-bottom:2%;"><b style=" display:block; margin-bottom:5%;">是否赞助</b><input name="" type="radio" value="" class="forme_input2">是<input style="margin-left:16%;" name="" type="radio" value="" class="forme_input2">否</li>
<li><b>赞助内容</b><span>*</span><input name="" type="text" class="forme_input"></li>
<li><b>赞助数量</b><span>*</span><input name="" type="text" class="forme_input"></li>
<li><b>你的微信</b><span>*</span><input name="" type="text" class="forme_input"></li>
<li style=" color:#0166fe; font-size:30px; border:0;">注：带<span>*</span> 为必填项，提交应用时请添加客服微信：buncle001
<div class="kk_styl" ><div class="input_s"><input name="" type="checkbox" value="" class="forme_input2"></div>我已阅读并同意《用户协议及隐私政策》</div></li>
<li style=" text-align:center; border:0;"><input name="" type="submit" value="提交上传" class="forme_button"></li>
</ul>
</div>
</div>
</div>
</body>
</html>
