<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>公告详情</title>
<link href="../style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="xiangqing_top">
		<div class="xq_back"><a href="../index.html"><img  src="../image/back_icon2.png"></a></div><b>公告</b>
	</div>
	<div class="xiangqing_daohang">BUNCLE > 公告中心 > 最新公告</div>
	<div id="gonggao_neirong">
		<div class="gonggao_title">BUNCLE与火币等多家头部交易所达成 战略合作关系</div>
<div class="user_bufen">
	<img src="../del_/del_03.png">
    <div class="user_text">
    <ul>
    <li><b>BUNCLE</b></li>
    <li><span>2019/08/30 17:06 发布</span></li>
    </ul>
    </div>
    </div>
    <div class="gonggao_allneirong">
    	<p>尊敬的BUNCLE用户：</p>
    	<p>BUNCLE与火币等多家头部交易所达成战略合作关系，BUNCLE团队即将暴富。 </p>
    	<p>BUNCLE团2019年9月01日</p>
    </div>
	</div>
</body>
</html>
