<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>交易所公告详情</title>
<link href="../style/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="xiangqing_top">
		<div class="xq_back"><a href="../index.html"><img  src="../image/back_icon2.png"></a></div><!--<b>公告</b>-->
	</div>
    <div class="gonggao_title">BUNCLE与火币等多家头部交易所达成 战略合作关系</div>
        <div class="gonggao_user"> <b>用户名</b> </div>
            <div class="neirong_xinxi">2019/08/30 17:06 发布，内容以<a href="#">原文链接</a>为准</div>

    <div class="gonggao_allneirong">
    	<p>尊敬的BUNCLE用户：</p>
    	<p>BUNCLE与火币等多家头部交易所达成战略合作关系，BUNCLE团队即将暴富。 </p>
    	<p>BUNCLE团2019年9月01日</p>
    </div>

</body>
</html>
