<!DOCTYPE>
<html>
<head>
<meta name="viewport"content="user-scalable=0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bunde2.0</title>
<link href="../style/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="all_bg">
<div id="APP_list_top" style=" border:0;">
<!-- <div class="list_top_back"><a href="gerenzhongxin.html"><img src="../image/back_icon.png"></a></div>-->
  <b style=" color:#FFF">任务中心</b>
</div>
<div class="yaoqing_title_bg"></div>
<div class="renwu_txt">
<b>BUNCLE任务中心</b>
<span>更多任务解锁中，敬请期待...</span>
</div>
<div class="renwu_txt_list">
<ul>
<li><b>绑定手机送10UNCLE</b><a class="button_style">前往绑定</a></li>
<li><b>绑定手机送10UNCLE</b><a class="button_style">前往绑定</a></li>
</ul>
<div class="meiyou">没有更多了！</div>
</div>

</div>

</body>
</html>