<!DOCTYPE>
<html>
<head>
<meta name="viewport"content="user-scalable=0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>搜索详情</title>
<link href="../style/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="max_sousuo">
<h1>搜索</h1>
<div class="sousuo_input"><input type="text" class="sousuo_input_style" value="BUNCLE"></div>
<div class="sousuo_jiange"></div>
</div>
<!--应用下载列表-->
<div id="list_style">
  <ul>
    <li>
      <div class="app_icon"><img src="../del_/app_icon.png"></div>
      <div class="app_content">
        <div class="app_txt"> <b>币市</b> <span>全球第一会员制交易所</span> </div>
        <div class="app_download">下载</div>
      </div>
    </li>
    <li>
      <div class="app_icon"><img src="../del_/ICON5.png"></div>
      <div class="app_content">
        <div class="app_txt"> <b>币市</b> <span>全球第一会员制交易所</span> </div>
        <div class="app_download">下载</div>
      </div>
    </li>
        <li>
      <div class="app_icon"><img src="../del_/ICON4.png"></div>
      <div class="app_content">
        <div class="app_txt"> <b>币市</b> <span>全球第一会员制交易所</span> </div>
        <div class="app_download">下载</div>
      </div>
    </li>
        <li>
      <div class="app_icon"><img src="../del_/ICON3.png"></div>
      <div class="app_content">
        <div class="app_txt"> <b>币市</b> <span>全球第一会员制交易所</span> </div>
        <div class="app_download">下载</div>
      </div>
    </li>
  </ul>
</div>
</body>
</html>
