<!DOCTYPE>
<html>
<head>
<meta name="viewport"content="user-scalable=0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>搜索</title>
<link href="../style/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="max_sousuo">
<h1>搜索</h1>
<div class="sousuo_input"><input type="text" class="sousuo_input_style" value="BUNCLE"></div>
<div class="sousuo_ad"><img src="../del_/top_del_02.png"><span>MXC全球领先的数字资产交易所</span></div>
<h1>热门搜索</h1>
<div class="renmen_sousuo">
<ul>
<li>BINANCE</li>
<li>金色财经</li>
<li>BINANCE</li>
</ul>
</div>
</div>
</body>
</html>
