<!DOCTYPE>
<html>
<head>
<meta name="viewport"content="user-scalable=0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bunde2.0</title>
<link href="../style/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="all_bg">
<div id="APP_list_top" style=" border:0;">
<!-- <div class="list_top_back"><a href="gerenzhongxin.html"><img src="../image/back_icon.png"></a></div>-->
  <b style=" color:#FFF">邀请有礼</b>
</div>
<div class="yaoqing_title_bg"></div>
<div class="yaoqing_all">
<div class="yaoqing_on_off">
<b>邀请好友关注领取更多UNCLE</b>
<a class="button_style">链接分享</a><a class="button_style" href="../del_/haibao.png">海报分享</a>
</div>
<h1>邀请记录</h1>
<div class="yaoqing_jilu">
<ul>
<li><b>M1</b><span>0</span></li>
<li><b>M1</b><span>0</span></li>
<li><b>M1</b><span>0</span></li>
<li><b>M1</b><span>0</span></li>
<li><b>M1</b><span>0</span></li>
<li><b>M1</b><span>0</span></li>
</ul>
</div>
<h1>邀请规则</h1>
<div class="yaoqing_guize">
<ul>
<li><img src="../image/quan.png"><span>关注BUNCLE即送777UNCLE，邀请M1送100UNCLE，邀请M2送50UNCLE，邀请M3送30UNCLE，邀请M4</span></li>
<li><img src="../image/quan.png"><span>关注BUNCLE即送777UNCLE，邀请M1送100UNCLE，邀请M2送50UNCLE，邀请M3送30UNCLE，邀请M4</span></li>
<li><img src="../image/quan.png"><span>关注BUNCLE即送777UNCLE，邀请M1送100UNCLE，邀请M2送50UNCLE，邀请M3送30UNCLE，邀请M4</span></li>
</ul>
</div>
</div>
</div>
</body>
</html>