<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>咨询中心</title>
<link href="../style/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../script/jquery-2.1.1.min.js"></script>
</head>

<body>
<div id="zixunzhongxin">
  <div id="nav">
    <ul>
      <li class="on">24h快讯</li>
      <li>交易所公告</li>
      <li>微媒体</li>
    </ul>
  </div>
  <div id="contentBox">
    
    <div class="box active">
        <!--24小时快讯-->
    <div class="h24_kuaixun">
    <div class="h24_data">今天 08/30 星期五</div>
    <ul>
    
    <li>
    <div class="h24_riqichuchu">●<b>21:00</b><span>来源：<a>金色彩金</a></span></div>
    <div class="weimeiti_neirong">
    <b>动态 | 英国亿万富翁将推出加密货币合资企业 预计将管理达10亿美元的数字资产</b>
    <span>据U.Today消息，英国金融时报报道称，英国对冲基金亿万富翁Alan Howard将推出一个新的加密货币合资企业，该企业预计</span>
    </div>
    <div class="h24_toolimg"><ul><li><a href="../del_/haibao.png"><img src="../image/fmax.png"></a><span>分享</span></li><li><img src="../image/no_zan_icon.png"><span>12</span></li><li><img src="../image/zan_icon.png"><span>12</span></li>
    </ul></div>
    </li>
    
        <li>
    <div class="h24_riqichuchu">●<b>21:00</b><span>来源：<a>金色彩金</a></span></div>
    <div class="weimeiti_neirong">
    <b>加密合约的实际应用场景</b>
    <span>早在比特币诞生的十多年前，1994年，计算机学家， 法学家及密码学家Nick Szabo第一次提出了智能合......</span>
    </div>
    <div class="h24_toolimg"><ul><li><a href="../del_/haibao.png"><img src="../image/fmax.png"></a><span>分享</span></li><li><img src="../image/no_zan_icon.png"><span>12</span></li><li><img src="../image/zan_icon.png"><span>12</span></li>
    </ul></div>
    </li>
    
        <li>
    <div class="h24_riqichuchu">●<b>21:00</b><span>来源：<a>金色彩金</a></span></div>
    <div class="weimeiti_neirong">
    <b>加密合约的实际应用场景</b>
    <span>早在比特币诞生的十多年前，1994年，计算机学家， 法学家及密码学家Nick Szabo第一次提出了智能合......</span>
    </div>
    <div class="h24_toolimg"><ul><li><a href="../del_/haibao.png"><img src="../image/fmax.png"></a><span>分享</span></li><li><img src="../image/no_zan_icon.png"><span>12</span></li><li><img src="../image/zan_icon.png"><span>12</span></li>
    </ul></div>
    </li>
    
    
    </ul>
    </div>
    <!--24小时快讯-->


    </div>
    <div class="box">
     <!--交易所公告list-->
    <div class="weimeiti">
    <ul>
    
    <a href="jiaoyi_gonggao_content.html"><li>
    <div class="weimeiti_top"><img src="../del_/app_icon.png"><b>标题标题标题</b><span>6分钟前</span></a></div>
    <div class="weimeiti_neirong">
      <a href="jiaoyi_gonggao_content.html"><b>加密合约的实际应用场景</b>
      <span>早在比特币诞生的十多年前，1994年，计算机学家， 法学家及密码学家Nick Szabo第一次提出了智能合......</span>
      </div>
    </li></a>
    
    <a href="jiaoyi_gonggao_content.html"><li>
    <div class="weimeiti_top"><img src="../del_/app_icon.png"><b>标题标题标题</b><span>6分钟前</span></a></div>
    <div class="weimeiti_neirong">
      <a href="jiaoyi_gonggao_content.html"><b>加密合约的实际应用场景</b>
      <span>早在比特币诞生的十多年前，1994年，计算机学家， 法学家及密码学家Nick Szabo第一次提出了智能合......</span>
      </div>
    </li></a>
    
    <a href="jiaoyi_gonggao_content.html"><li>
    <div class="weimeiti_top"><img src="../del_/app_icon.png"><b>标题标题标题</b><span>6分钟前</span></a></div>
    <div class="weimeiti_neirong">
      <a href="jiaoyi_gonggao_content.html"><b>加密合约的实际应用场景</b>
      <span>早在比特币诞生的十多年前，1994年，计算机学家， 法学家及密码学家Nick Szabo第一次提出了智能合......</span>
      </div>
    </li></a>
    
    </ul>
    </div>
    </div>
    <div class="box">
    <!--微媒体list-->
    <div class="weimeiti">
    <ul>
    
    <li>
    <div class="weimeiti_top"><img src="../del_/del_03.png"><b>标题标题标题</b><span>6分钟前</span></div>
    <div class="weimeiti_neirong">
    <b>加密合约的实际应用场景</b>
    <span>早在比特币诞生的十多年前，1994年，计算机学家， 法学家及密码学家Nick Szabo第一次提出了智能合......</span>
    </div>
    </li>
    
    <li>
    <div class="weimeiti_top"><img src="../del_/del_03.png"><b>标题标题标题</b><span>6分钟前</span></div>
    <div class="weimeiti_neirong">
    <b>加密合约的实际应用场景</b>
    <span>早在比特币诞生的十多年前，1994年，计算机学家， 法学家及密码学家Nick Szabo第一次提出了智能合......</span>
    </div>
    </li>
    
    <li>
    <div class="weimeiti_top"><img src="../del_/del_03.png"><b>标题标题标题</b><span>6分钟前</span></div>
    <div class="weimeiti_neirong">
    <b>加密合约的实际应用场景</b>
    <span>早在比特币诞生的十多年前，1994年，计算机学家， 法学家及密码学家Nick Szabo第一次提出了智能合......</span>
    </div>
    </li>
    
    </ul>
    </div>
    <!--微媒体list结束-->
    </div>
  </div>
</div>


</body>
<script type="text/javascript">
//tab效果
$(function(){
    $("#nav li").off("click").on("click",function(){
       var index = $(this).index();
       $(this).addClass("on").siblings().removeClass("on");
       $("#contentBox .box").eq(index).addClass("active").siblings().removeClass("active");
     });
  });
</script>
</html>