<!DOCTYPE>
<html>
<head>
<meta name="viewport"content="user-scalable=0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bunde2.0</title>
<link href="../style/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="all_bg">
<div id="APP_list_top" style=" border:0;">
 <div class="list_top_back"><a href="gerenzhongxin.html"><img src="../image/back_icon.png"></a></div>
  <b style=" color:#FFF">记录</b>
</div>
<div class="title_bg">UNCLE获得记录</div>
<div class="list_style2">
<ul>
<li><a><img src="../image/quan.png"></a><b>签到+1 拷贝2</b><span>2019/08/31 12:55:10</span></li>
<li><a><img src="../image/quan.png"></a><b>签到+1 拷贝2</b><span>2019/08/31 12:55:10</span></li>
<li><a><img src="../image/quan.png"></a><b>签到+1 拷贝2</b><span>2019/08/31 12:55:10</span></li>
<li><a><img src="../image/quan.png"></a><b>签到+1 拷贝2</b><span>2019/08/31 12:55:10</span></li>
<li><a><img src="../image/quan.png"></a><b>签到+1 拷贝2</b><span>2019/08/31 12:55:10</span></li>
<li><a><img src="../image/quan.png"></a><b>签到+1 拷贝2</b><span>2019/08/31 12:55:10</span></li>
<li><a><img src="../image/quan.png"></a><b>签到+1 拷贝2</b><span>2019/08/31 12:55:10</span></li>
<li><a><img src="../image/quan.png"></a><b>签到+1 拷贝2</b><span>2019/08/31 12:55:10</span></li>
<li><a><img src="../image/quan.png"></a><b>签到+1 拷贝2</b><span>2019/08/31 12:55:10</span></li>
<li><a><img src="../image/quan.png"></a><b>签到+1 拷贝2</b><span>2019/08/31 12:55:10</span></li>
<li><a><img src="../image/quan.png"></a><b>签到+1 拷贝2</b><span>2019/08/31 12:55:10</span></li>
<li><a><img src="../image/quan.png"></a><b>签到+1 拷贝2</b><span>2019/08/31 12:55:10</span></li>
</ul>
</div>
</div>
</body>
</html>